# EL NINO - DECISION TREE - Machine Learning

In [19]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\anaconda\lib\site-packages (1.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: joblib>=0.11 in d:\anaconda\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in d:\anaconda\lib\site-packages (from scikit-learn) (1.9.1)
Requirement already satisfied: numpy>=1.14.6 in d:\anaconda\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn) (2.2.0)

In [20]:
import csv
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [22]:
# Replace 'file_path' with the actual file path to your CSV file
file_path = r'C:\Users\User\Downloads\elnino_data2.csv'

In [23]:
# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

In [24]:
df.head()

,Date,Year,Month,Season,ONI,NINO 1+2 SST,NINO 1+2 SST Anomalies,NINO 3 SST,NINO 3 SST Anomalies,NINO 3.4 SST,NINO 3.4 SST Anomalies,NINO 4 SST,NINO 4 SST Anomalies,OLR,TNI,PNA,Precipitation (mm/day),SOI,el_nino
0,1/1/1951,1951,JAN,DJF 1951,-0.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.32,-1.18,0.0,1.5,No
1,2/1/1951,1951,FEB,JFM 1951,-0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.46,-2.11,0.0,0.9,No
2,3/1/1951,1951,MAR,FMA 1951,-0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.59,-1.09,0.0,-0.1,No
3,4/1/1951,1951,APR,MAM 1951,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.46,0.47,0.0,-0.3,No
4,5/1/1951,1951,MAY,AMJ 1951,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.62,1.19,0.0,-0.7,No